<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.spirotron.nightclock" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NightClock</name>
    <description>
        Displays the time in the dark.
    </description>
    <author email="nl@spirotron.fr" href="http://spirotron.fr">
        Nicolas Leclerc
    </author>
    <preference name="webviewbounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="KeepRunning" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="#ff000000" />
    <content src="index.html" />
    <platform name="android">
        <hook src="hooks/remove_permissions.js" type="after_prepare" />
    </platform>
    <icon height="36" src="res/icon/android/icon-36-ldpi.png" width="36" />
    <icon height="48" src="res/icon/android/icon-48-mdpi.png" width="48" />
    <icon height="72" src="res/icon/android/icon-72-hdpi.png" width="72" />
    <icon height="96" src="res/icon/android/icon-96-xhdpi.png" width="96" />
    <icon height="144" src="res/icon/android/icon-144-xxhdpi.png" width="144" />
    <icon height="192" src="res/icon/android/icon-192-xxxhdpi.png" width="192" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-fullscreen" spec="^1.2.0" />
    <plugin name="cordova-plugin-insomnia" spec="^4.3.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
